= javascript_pack_tag 'autoReload'

- if user_signed_in?
  .user_nav-grid-6
    .user-info
      -# = link_to "マイページ", '/users/#{current_user.id}'
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      = link_to "グループメンバー管理", new_group_path
    -# = link_to  "投稿する", 'new_tweet_path', class: "post"

- else
  = link_to  new_user_registration_path


= form_with  local: true, method: :get, class: "search-form" do |form|
  = form.text_field :keyword, placeholder: "投稿を検索する", class: 'search-input'
  = form.submit "検索", class: 'search-btn'

  -# <div class="more">
  -#       <span><%= image_tag 'arrow_top.png' %></span>
  -#       <ul class="more_list">
  -#         <li>
  -#           <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
  -#         </li>
  -#       </ul>
  -#     </div>


.footer
  = form_with model: [@group, @content],remote: true, local: true do |f|
    .form-text
      = f.text_field :text, class: 'text-input', placeholder: "食材を登録する"
      = f.label :image, class: 'input-image' do
        = icon('far', 'image', class: 'icon1')
        = f.file_field :image, class: 'input-none'
    = f.submit 'Send', class: 'send-put'

-# = form_with local: true, method: :get, class: "t-form" do
-#   = form.text_field :resipi, placeholder: "食材を登録する"
-#   = form.submit "投稿する", class: 't-btn'

.wrapper
  = render partial: "main", locals: { content: @content }