.sign-up-page
  %h2 登録してね
  = form_with model: @user do |form|
    -# = devise_error_messages!
    .field
      .field-form
        = form.label :name
        %br/
        = form.text_field :name, autofocus: true, autocomplete: "名前"
      .field-form
        = form.label :email
        %br/
        = form.email_field :email, autofocus: true, autocomplete: "email"
      .field-form
        = form.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = form.password_field :password, autocomplete: "new-password"
      
      .field-form
        = form.label :password_confirmation
        %br/
        = form.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = form.submit "登録してみる", url: 'root_path'